body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
  }


    /* Additional CSS for the output */
    .movement {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
      }
    
      .movement-item {
        margin-bottom: 5px;
      }